{% extends 'base.html.twig' %}

{% block title %}Страница не существует{% endblock %}
{% block description %}Страница не существует{% endblock %}


{% block body %}


<h1>Страница не существует</h1>

<p>Запрашиваемая страница не существует. Перейдите на <a href="{{ path('homepage') }}">главную страницу</a> или воспользуйтесь меню сайта.</p>
	
{% endblock %}
