{% extends 'base.html.twig' %}

{% block title %}Речные круизы 2018 — расписание и цены на 2018 год{% endblock %}
{% block description %}Круизный магазин — расписание речных круизов в навигацию 2018. Каталог. Цены.{% endblock %}

{% block body %}

{#{dump()}#}

<h1>Расписание речных круизов на 2018 год</h1>

{% include 'CruiseBundle:Cruise:cruises.html.twig' %}

{% endblock %}