/* style.css */

.images {
	margin: 10px 0;
}

.images img {
	margin: 10px auto;
}


/* Reset the container */

.container {
	width: 1000px;
	max-width: none !important;
}


/* Eric Meyer's CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;
	font: inherit;*/
	vertical-align: baseline;
}

body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
	background: #D0EBF4;
}

body,
input,
select,
textarea {
	color: #5d5d5d;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	color: #0099ca;
	font-size: 22px;
	font-weight: bold;
	margin: 20px 0;
	line-height: 1.5;
}

h2 {
	color: #0099ca;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 30px;
}

p {
	margin: 0 0 10px
}

.clear {
	clear: both;
}


/* Header
-----------------------------------------------------------------------------*/


/*
.header {
	height: 196px;
	background:url(/img/header.png) no-repeat top center;

}
*/

.header {
	height: 195px;
	background: url(/img/header-logo.png) no-repeat top left #59abd5;
	border-bottom: 1px solid #d0ebf4;
}

.header_top .logo span {
	opacity: 0;
}

.header-contact {
	position: absolute;
	right: 40px;
	top: 55px;
	color: #FFF;
	text-align: right;
	font-size: 14px;
	line-height: 24px;
}

.header-contact .header-phone {
	color: #FFF;
	text-decoration: none;
}

.header-contact .header-phone span {
	font-size: 24px;
	line-height: 20px;
}

footer {
	background: #fff url(/images/footer.png) no-repeat;
	height: 291px;
}

footer .footer-block-1 {
	background: #fff url(/images/footer.png) no-repeat;
	height: 291px
}

footer .footer-block-2 {
	position: relative;
	background: #13759a;
	height: 180px;
	color: #fff;
	font-size: 14px;
}

footer .footer-block-2 a {
	color: #fff;
}

footer .footer-block-2 .copyright-block {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 260px;
}

footer .footer-block-2 .address-block {
	position: absolute;
	top: 30px;
	left: 370px;
	width: 300px;
}

footer .footer-block-2 .address-block li {
	list-style: none;
	line-height: 1.5;
	margin-bottom: 2px;
}

footer .footer-block-2 .address-block .send-email {
	border-bottom: 1px solid;
	text-decoration: none;
}

footer .footer-block-2 .address-block .fa {
	width: 22px;
	text-align: center;
}

footer .footer-block-2 .telephone-block {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 200px;
	text-align: right;
}

footer .footer-block-2 .telephone-block .bottom-phone-section {
	list-style: none;
	font-size: 22px;
	line-height: 20px;
}

footer .footer-block-2 .telephone-block .bottom-phone-section a:hover {
	text-decoration: none;
}

footer .footer-block-2 .telephone-block .bottom-phone-section span {
	font-size: 14px;
}

footer .footer-block-2 .promo-block {
	position: absolute;
	bottom: 20px;
	right: 30px;
}

footer .footer-block-2 .pay-block {
	position: absolute;
	bottom: 20px;
	left: 30px;
	font-size: 28px;
}

#page_html ol {
	list-style: decimal;
	padding-left: 40px;
	margin-bottom: 10px;
}

#page_html ul {
	list-style: square;
	padding-left: 40px;
	margin-bottom: 10px;
}

#page_html li {
	margin-bottom: 5px;
}

ul.popular-cruise-list{
	margin: 0px 0px 30px 0px !important;
	list-style: none !important;
}

ul.popular-cruise-list li:before{
	content: "\f0da";
	padding-right: 4px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
}

.search-main {
	background: #b4dded;
	border: 1px solid #bac2d2;
	margin: 15px 0;
	border-radius: 0 0 5px 5px;
	float: none;
	padding: 10px;
}

.month-date-navigation {
	color: #0099ca;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0;
}

ol,
ul {
	list-style: none;
}

div.header_top {
	width: 100%;
	height: 156px;
	position: relative;
}

div.header_top>a.logo {
	position: absolute;
	top: 15px;
	left: 0px;
	height: 135px;
	width: 320px;
}

ul#nav {
	background: #1a9acb;
	display: flex;
}

ul#nav>li {
	float: left;
	position: relative;
}

ul#nav>li:nth-child(2)>a:after {
	content: "\f107";
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	position: absolute;
	top: 13px;
	right: 30px;
}

ul#nav>li:hover{
	background: #018cb7;
}

ul#nav>li>a {
	color: #fff;
	padding: 10px 44.8px 10px 45px;
	display: block;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}

ul#nav>li:not(:last-child) {
	border-right: 1px solid #16789e;
}

ul#nav>li>ul {
	display: none;
}

ul#nav>li:hover > ul {
	display: block;
}

ul#nav>li ul {
	position: absolute;
	top: 38px;
	left: -1px;
	z-index: 9999;
	width: 214px;
	background: #37a7d2;
	border-left: 1px solid #004463;
}

ul#nav a:hover {
	text-decoration: none;
}

ul#nav>li>ul>li>a {
	color: #fff;
	padding: 10px 15px;
	white-space: nowrap;
	display: block;
	margin: 0px;
}

ul#nav>li ul li {
	position: relative;
	padding-right: 25px;
}

ul#nav>li ul li:hover {
	background: #018cb7;
}

ul#nav>li ul li ul:before {
	content: "\27A4";
	position: absolute;
	left: -21px;
	top: 12px;
	color: #004463;
	font-size: 15px;
}

ul#nav>li ul li:hover ul:before {
	color: #006390;
}

ul#nav>li ul li ul {
	position: absolute;
	top: 0;
	left: 100%;
	min-width: 180px;
	z-index: 9999;
	background: #37a7d2;
}

ul#nav>li ul li ul li:hover {
	background: #018cb7;
}

ul#nav>li>ul>li>ul>li>a {
	color: #fff;
	padding: 10px 15px;
	white-space: nowrap;
	display: block;
	margin: 0px;
}

ul#nav>li>ul>li>ul>li {
	display: none;
}

 ul#nav>li>ul>li:hover ul li {
	display: block;
}

#places div.checkbox {
	width: 33%;
	float: left;
	margin-top: -5px;
}

.search-main button[type="submit"] {
	width: 100%;
	margin: 20px auto;
}

.search-main a[href="#spoiler-1"] {
	width: 100%;
}

.table-cruises th {
	background: #46a6c5;
	color: #fff;
	text-align: center;
}

.table-cruises td:nth-child(2),
.table-cruises td:nth-child(3),
.table-cruises td:nth-child(4) {
	text-align: center;
}

.table-cruises td:nth-child(5) {
	text-align: right;
	padding-right: 30px;
}

